---
import Layout from "../layouts/Layout.astro";
import Hero from "./hero.astro";
import Services from "./services.astro";
import About from "./about.astro";
import Testimonials from "./testimonials.astro";
import Location from "./location.astro";
---

<Layout>
  <Hero />
  <Services />
  <div class="about-line"></div>
  <About />
  <Testimonials />
  <Location />
</Layout>
