---
import Logo from "../assets/Elohim.svg";
import Whatsapp from "../assets/whatsapp.svg";
import Instagram from "../assets/instagram.svg";
import Phone from "../assets/phone.svg";

const links = [
  { href: "#inicio", text: "Inicio" },
  { href: "#services", text: "Servicios" },
  { href: "#about", text: "Sobre nosotros" },
  { href: "#testimonios", text: "Testimonials" },
];
---

<nav class="navbar">
  <header class="navbar-content">
    <div class="logo-container">
      <a href="/">
        <Logo />
      </a>
    </div>
    <div class="nav-center">
      <ul class="nav-links">
        {
          links.map((link) => (
            <li>
              <a href={link.href}>{link.text}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="nav-right">
      <ul class="nav-links nogap">
        <li><a href="tel:5219999999999" class="phone-link"><Phone /></a></li>
        <li>
          <a href="https://wa.me/5219999999999" class="whatsapp-link"
            ><Whatsapp /></a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/elohim" class="whatsapp-link"
            ><Instagram /></a
          >
        </li>
      </ul>
    </div>
  </header>
</nav>

<style>
  .navbar {
    background-color: #f5efe7;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease;
  }

  .logo {
    width: 180px;
  }
  .navbar-content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .nogap {
    gap: 0 !important;
  }

  .nav-links a {
    text-decoration: none;
    color: #1a3347;
    font-weight: 500;
    transition: all 0.1s ease-out;
    padding: 0.5rem;
  }

  .nav-links a:hover,
  .nav-links a.active {
    color: #4a8fe7;
  }

  .phone-link {
    color: #1a3347;
  }

  .whatsapp-link {
    color: #25d366;
  }

  .whatsapp-icon {
    font-size: 24px;
  }

  .instagram-icon {
    font-size: 24px;
  }

  .phone-icon {
    font-size: 24px;
  }

  @media (width <= 490px) {
    .logo {
      width: 120px;
    }
  }
</style>
